{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container" >
    <div class="text-white text-center" style="margin-top:12%">
        <h1 style="font-size:40px;font-weight:bold;text-align:center;color:blue;text-align:center">Welcome to HoodView</h1>
        <h3 style="margin-top:6%; color:blue; font-size:34px; font-weight:bold">Get to join A Hood Today!</h3>
        <a href="{% url 'hood' %}" class="btn btn-sm btn-info mt-4">Join Hood</a>
    </div>

</div>
{% endblock %}